In [14]:
import requests
import re  
import json
import pandas as pd 

url = (
    'https://api.census.gov/data/2023/cps/asec/mar?get='
    'A_LINENO,'
    'A_AGE,'
    'A_DTIND,'
    'A_DTOCC,'
    'A_ENRLW,'
    'A_EXPLF,'
    'A_FAMNUM,'
    'A_FTLF,'
    'A_FTPT,'
    'A_HGA,'
    'A_HSCOL,'
    'A_GRSWK,'
    'A_HRLYWK,'
    'A_HRS1,'
    'A_LFSR,'
    'A_MARITL,'
    'A_MJOCC,'
    'A_SEX,'
    'A_UNCOV,'
    'A_UNMEM,'
    'A_UNTYPE,'
    'A_WKSLK,'
    'A_WKSTAT,'
    'AGE1,'
    'AGI,'
    'CHCARE_YN,'
    'HCHCARE_VAL,'
    'HCHCARE_YN,'
    'COV_CYR,'
    'DEPPRIV,'
    'ESICOULD,'
    'FAMLIS,'
    'FEARNVAL,'
    'FFPOS,'
    'FMED_VAL,'
    'FMOOP,'
    'FOTC_VAL,'
    'FRNTVAL,'
    'GESTFIPS,'
    'GTCBSAST'
    '&for=state:*'
    '&key=b4cdb850b47d0c5c108b69a6d44a5c1c60f98e3b'
)
response = requests.get(url)
result = response.json()
df = pd.DataFrame(result)
df.columns=df.iloc[0] 
df = df.iloc[1:]

In [8]:
pd.set_option('display.max_columns', None)

In [9]:
df

,A_LINENO,A_AGE,A_DTIND,A_DTOCC,A_ENRLW,A_EXPLF,A_FAMNUM,A_FTLF,A_FTPT,A_HGA,A_HSCOL,A_GRSWK,A_HRLYWK,A_HRS1,A_LFSR,A_MARITL,A_MJOCC,A_SEX,A_UNCOV,A_UNMEM,A_UNTYPE,A_WKSLK,A_WKSTAT,AGE1,AGI,CHCARE_YN,HCHCARE_VAL,HCHCARE_YN,COV_CYR,DEPPRIV,ESICOULD,FAMLIS,FEARNVAL,FFPOS,FMED_VAL,FMOOP,FOTC_VAL,FRNTVAL,GESTFIPS,GTCBSAST,state
1,1,67,0,0,0,0,0,0,0,40,0,0,0,0,7,7,0,2,0,0,0,0,1,15,0,0,-1,0,3,0,0,1,0,1,0,0,0,0,23,4,23
2,1,74,0,0,0,0,0,0,0,39,0,0,0,0,7,5,0,1,0,0,0,0,1,16,9,0,-1,0,3,0,0,1,0,1,0,60,60,0,23,4,23
3,1,66,0,0,0,0,1,0,0,39,0,0,0,0,7,4,0,2,0,0,0,0,1,15,0,0,-1,0,3,0,0,4,0,1,0,0,0,0,23,3,23
4,2,68,0,0,0,0,1,0,0,39,0,0,0,0,7,4,0,2,0,0,0,0,1,15,2400,0,-1,0,3,0,0,4,0,1,0,0,0,0,23,3,23
5,1,52,0,0,2,0,1,0,0,39,0,0,0,0,7,1,0,2,0,0,0,0,1,11,47828,0,-1,0,3,0,0,4,42000,1,50,1370,0,0,23,3,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146129,4,17,0,0,1,0,1,0,1,37,1,0,0,0,7,7,0,2,0,0,0,0,1,2,0,0,-1,0,3,1,0,4,90000,1,250,2850,200,0,15,2,15
146130,5,15,0,0,0,0,1,0,0,34,0,0,0,0,7,7,0,1,0,0,0,0,1,1,0,0,-1,0,3,1,0,4,90000,1,250,2850,200,0,15,2,15
146131,1,59,22,17,0,1,1,1,0,42,0,0,0,40,1,1,5,1,0,0,0,0,2,12,111205,0,-1,0,3,1,1,4,117864,1,4000,6950,450,0,15,2,15
146132,2,60,40,2,0,1,1,1,0,44,0,0,0,40,1,1,1,2,0,0,0,0,2,13,0,0,-1,0,3,2,0,4,117864,1,4000,6950,450,0,15,2,15
146133,3,18,22,17,1,1,1,0,1,37,1,0,0,20,1,7,5,1,0,0,0,0,4,3,6865,0,-1,0,3,1,0,4,117864,1,4000,6950,450,0,15,2,15

In [15]:
column_mask = {
    'A_LINENO' : 'line',
    'A_AGE' : 'age',
    'A_DTIND' : 'job_industry',
    'A_DTOCC' : 'job_industry_recode',
    'A_ENRLW' : 'school_enroll_lastweek',
    'A_EXPLF'  : 'employment',
    'A_FAMNUM' : 'fam_size',
    'A_FTLF' : 'full_time_work',
    'A_FTPT' : 'full_part_school',
    'A_HGA' : 'highest_education',
    'A_HSCOL' : 'hs_col_unenrolled',
    'A_GRSWK' : 'weekly_earnings',
    'A_HRLYWK' : 'hourly_work_yn',
    'A_HRS1' : 'hours_worked',
    'A_LFSR' : 'labor_force_recode',
    'A_MARITL' : 'marital_status',
    'A_MJOCC' : 'main_job_industry_recode',
    'A_SEX' : 'sex',
    'A_UNCOV' : 'union_contract_avail',
    'A_UNMEM' : 'union_member_yn',
    'A_UNTYPE' : 'reason_unemployed',
    'A_WKSLK' : 'weeks_unemployed',
    'A_WKSTAT' : 'ft_pt_unem',
    'AGE1' : 'age_recode_gt15',
    'AGI' : 'federal_gross_income_adj',
    'CHCARE_YN' : 'need_childcare',
    'HCHCARE_VAL' : 'hh_childcare_val',
    'HCHCARE_YN' : 'hh_childcare',
    'COV_CYR' : 'health_insurance_ly',
    'DEPPRIV' : 'dependent_private_insured',
    'ESICOULD' : 'company_offer_insurance',
    'FAMLIS' : 'poverty_ratio',
    'FEARNVAL' : 'family_earn_ly',
    'FFPOS' : 'fam_id',
    'FMED_VAL' : 'fam_med_costs',
    'FMOOP' : 'fam_outofpocket_med_costs',
    'FOTC_VAL' : 'fam_otc_med_costs',
    'FRNTVAL' : 'fam_rent_val',
    'GESTFIPS' : 'fips',
    'GTCBSAST' : 'state'
}
df.rename(columns=column_mask, inplace=True)

In [16]:
df

,line,age,job_industry,job_industry_recode,school_enroll_lastweek,employment,fam_size,full_time_work,full_part_school,highest_education,hs_col_unenrolled,weekly_earnings,hourly_work_yn,hours_worked,labor_force_recode,marital_status,main_job_industry_recode,sex,union_contract_avail,union_member_yn,reason_unemployed,weeks_unemployed,ft_pt_unem,age_recode_gt15,federal_gross_income_adj,need_childcare,hh_childcare_val,hh_childcare,health_insurance_ly,dependent_private_insured,company_offer_insurance,poverty_ratio,family_earn_ly,fam_id,fam_med_costs,fam_outofpocket_med_costs,fam_otc_med_costs,fam_rent_val,fips,state,state
1,1,67,0,0,0,0,0,0,0,40,0,0,0,0,7,7,0,2,0,0,0,0,1,15,0,0,-1,0,3,0,0,1,0,1,0,0,0,0,23,4,23
2,1,74,0,0,0,0,0,0,0,39,0,0,0,0,7,5,0,1,0,0,0,0,1,16,9,0,-1,0,3,0,0,1,0,1,0,60,60,0,23,4,23
3,1,66,0,0,0,0,1,0,0,39,0,0,0,0,7,4,0,2,0,0,0,0,1,15,0,0,-1,0,3,0,0,4,0,1,0,0,0,0,23,3,23
4,2,68,0,0,0,0,1,0,0,39,0,0,0,0,7,4,0,2,0,0,0,0,1,15,2400,0,-1,0,3,0,0,4,0,1,0,0,0,0,23,3,23
5,1,52,0,0,2,0,1,0,0,39,0,0,0,0,7,1,0,2,0,0,0,0,1,11,47828,0,-1,0,3,0,0,4,42000,1,50,1370,0,0,23,3,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146129,4,17,0,0,1,0,1,0,1,37,1,0,0,0,7,7,0,2,0,0,0,0,1,2,0,0,-1,0,3,1,0,4,90000,1,250,2850,200,0,15,2,15
146130,5,15,0,0,0,0,1,0,0,34,0,0,0,0,7,7,0,1,0,0,0,0,1,1,0,0,-1,0,3,1,0,4,90000,1,250,2850,200,0,15,2,15
146131,1,59,22,17,0,1,1,1,0,42,0,0,0,40,1,1,5,1,0,0,0,0,2,12,111205,0,-1,0,3,1,1,4,117864,1,4000,6950,450,0,15,2,15
146132,2,60,40,2,0,1,1,1,0,44,0,0,0,40,1,1,1,2,0,0,0,0,2,13,0,0,-1,0,3,2,0,4,117864,1,4000,6950,450,0,15,2,15
146133,3,18,22,17,1,1,1,0,1,37,1,0,0,20,1,7,5,1,0,0,0,0,4,3,6865,0,-1,0,3,1,0,4,117864,1,4000,6950,450,0,15,2,15